% rebase('base.html', title="Login")

<h1>Sign in to see what's happening.</h1>

<form class="form" action="/login" method="post">
  <fieldset>
    <legend>Log in</legend>
    <label class="form__field" for="user-email">
      <span>Email address</span>
      <input type="email" name="user-email" id="user-email" placeholder="Enter your email address" required />
    </label>
    <label class="form__field" for="user-email">
      <span>Password</span>
      <input type="password" name="user-password" id="user-password" placeholder="Enter your password" required />
    </label>
    <button type="submit">Log in</button>
  </fieldset>
</form>

<p>Don't have an account? <a href="/">Sign up</a></p>
