% rebase('base.html', title="Signup")

<h1>Signup</h1>

<form class="form" action="/signup" method="post">
  <label class="form__field" for="user-username">
    <span>Username</span>
    <input type="text" name="user-username" id="user-username" placeholder="Enter an unique username" required />
  </label>
  <label class="form__field" for="user-email">
    <span>Email address</span>
    <input type="email" name="user-email" id="user-email" placeholder="Enter your email address" required />
  </label>
  <label class="form__field" for="user-password">
    <span>Password</span>
    <input type="password" name="user-password" id="user-password" placeholder="Enter a strong password" required />
  </label>
  <label class="form__field" for="user-first-name">
    <span>First Name</span>
    <input type="text" name="user-first-name" id="user-first-name" placeholder="Enter your first name" required />
  </label>
  <label class="form__field" for="user-last-name">
    <span>Last Name</span>
    <input type="text" name="user-last-name" id="user-last-name" placeholder="Enter your last name" required />
  </label>
  <button type="submit">Create account</button>
</form>
